@charset "utf-8";
/* CSS Document */

html {
  	font-size: 62.5%; /* 16px * 62.5% = 10px */
  	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

body {
  font-family: Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
  sans-serif;
  font-size: 1.6rem;
  color: #333;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}